a.brand, a.brand:hover, a.brand:visited,
.social-links a, .social-links a:hover, .social-links a:visited,
.posts h1 a, .posts h1 a:hover, .posts h1 a:visited{
    color: #333;
    text-decoration: none;
}

a.brand, .social-links a{
    font-size: larger;
}

.social-links a, .social-links a:visited {
    opacity: 0.8;
}

.social-links a:hover {
    opacity: 1.0;
}

ul.posts {
    padding: 0;
}

.posts li{
    list-style: none;
}
