---
layout: bootstrap
---
  {% assign detailed_posts_count = 3 %}
  {% assign max_posts_count = 100 %}

  <ul class="posts">
    {% for post in site.posts limit: detailed_posts_count %}
      {% if post.draft != true %}
        <li>
          <h1>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          {% if post.title_only != true %}
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if site.show_email_signup %}
    {% include signup_form.html %}
  {% endif %}

  <ul class="posts">
    {% for post in site.posts offset: detailed_posts_count limit: detailed_posts_count %}
      {% if post.draft != true %}
        <li>
          <h1>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          {% if post.title_only != true %}
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Archive</h1>
  <hr/>

  <ul class="posts-archive">
    {% for post in site.posts offset: detailed_posts_count * 2 limit: max_posts_count %}
      {% if post.draft != true %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>