---
layout: bootstrap
---
  {% assign max_detailed_posts = 3 %}

  <ul class="posts">
    {% for post in site.posts limit: max_detailed_posts %}
      {% if post.draft != true %}
        <li>
          <h1>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <small>{{ post.date | date: "%b %-d, %Y" }}</small>

          {% if post.title_only != true %}
            <p>
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </p>
          {% endif %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">Read More...</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if site.show_email_signup %}
    {% include signup_form.html %}
  {% endif %}

  <h1>Archive</h1>
  <ul class="posts-archive">
    {% for post in site.posts offset: max_detailed_posts %}
    {% assign loopindex = forloop.index | modulo: 3 %}
      {% if loopindex == 1 %}
        <div class="row">
          <li class="col-md-4">
            <h2>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
      {% else %}
         {% if loopindex == 2 %} 
            <li class="col-md-4">
              <h2>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
         {% else %}
            <li class="col-md-4">
              <h2>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>

            </div>
         {% endif %}
      {% endif %}
    {% endfor %}
  </ul>