---
layout: bootstrap
---

  <ul class="posts">
    {% for post in paginator.posts %}
      {% if post.draft != true %}
        <li>
          <h1>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <small>{{ post.date | date: "%b %-d, %Y" }}</small>

          <p>
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">Read More...</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="pager">
    <li>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a href="{{ site.baseurl }}/">Newer</a>
        {% else %}
          <a href="{{ site.baseurl }}/page{{paginator.previous_page}}/">Newer</a>
        {% endif %}
      {% else %}
        <span class="disabled">Newer</span>
      {% endif %}
    </li>
    <li>
      {% if paginator.next_page %}
        <a href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older</a>
      {% else %}
        <span class="disabled">Older</span>
      {% endif %}
    </li>
  </ul>

