<title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{ meta_description }}">
<meta name="author" content="{{ site.author }}">

{% assign var site_tags_raw = site.keywords | join: ', ' %}

{% if page.keywords %}
    {% assign var page_tags_raw = page.keywords | join: ', ' %}
    {% assign var page_tags = page_tags_raw | append: ', ' %}
    {% assign var all_tags = page_tags | append: site_tags_raw %}
    <meta name="keywords" content="{{ all_tags }}">
{% else %}
    <meta name="keywords" content="{{ site_tags_raw }}">
{% endif %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />
<meta name="google-site-verification" content="IsISMcvnMCamA9PWTVfQeJps8NUHc6PLcRz2gsw0_bo" />

{% if page.additional-meta %}
    {{ page.additional-meta }}
{% endif %}