<style type="text/css">
    .alert-fixed {
        position:fixed; 
        top: 0px; 
        left: 0px; 
        width: 100%;
        z-index:9999; 
        border-radius:0px;
    }

    .header{
        margin-top: 58px;
    }
</style>
<div class="alert alert-warning alert-dismissible alert-fixed" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Preview Content:</strong> Final versions will be available in the same url without the warning.
</div>
