p,
li,
article table {
    font-size: 20px;
    line-height: 1.5;
}

article p {
    margin-bottom: 1.5em;
}

.header {
    padding-bottom: 1em;
    padding-top: 1em;
}

.header h1 {
    font-size: 4.5em;
}

.social-links a, .social-links a:hover, .social-links a:visited {
    color: #555;
    text-decoration: none;
    padding-top: 1em;
}

a.brand, a.brand:hover, a.brand:visited,
.posts h1 a, .posts h1 a:hover, .posts h1 a:visited,
.posts-archive h2 a, .posts-archive h2 a:hover, .posts-archive h2 a:visited {
    color: #333;
    text-decoration: none;
}

.posts-archive h2 a {
    font-size: smaller;
}

a.brand, .social-links a{
    font-size: larger;
}

.social-links a, .social-links a:visited {
    opacity: 0.8;
}

.social-links a:hover {
    opacity: 1.0;
}

ul.posts,
ul.posts-archive {
    padding: 0;
}

ul.posts > li,
ul.posts-archive li {
    list-style: none;
}

.footnotes:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #eee;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

article .footnotes:before {
    margin-top: 6em;
}

article img {
    max-width: 100%;
}

article table {
    margin-top: 1em;
    margin-bottom: 1em;
}

article td {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

article th {
    text-align: center;
}

article td,
article th {
    border: solid 1px;
    border-color: #cccccc;
}

article tr:nth-child(even) {
    background: #EEEEEE;
}
