body {
    font-size: 17px;
    line-height: 1.5;
    overflow-x: hidden;
}

.header {
    background-color: #234e73;
    color: white;
}

.header a {
    color: white;
}

h1, h2, h3, h4, h5, h6,
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: #234e73;
}

p, ul.posts-archive > li > a {
    font-size: 130%;
}

p {
    color: #555;
    margin: 1.5em 0 1.5em;
}

.header h1 {
    font-size: 130%;
    font-weight: lighter;
    padding-top: 0.8em;
    padding-bottom: 0.2em;
    margin: 0;
}

h1, h2 {
    font-size: 2.5em;
}

.social-links {
    padding: 0;
    margin: 1.5em 0 0 0;
}

ul.social-links > li {
    padding: 0;
    margin: 0;
}

.social-links a, .social-links a:hover, .social-links a:visited {
    color: #999;
    text-decoration: none;
}

a.brand, a.brand:hover, a.brand:visited {
    text-decoration: none;
}

.posts h1 a, .posts h1 a:visited {
    text-decoration: none;
}

.posts h1 a:hover {
    text-decoration: underline;
}

a.brand, .social-links a{
    font-size: larger;
}

.social-links a, .social-links a:visited {
    opacity: 0.8;
}

.social-links a:hover {
    opacity: 1.0;
}

ul.posts,
ul.posts-archive {
    padding: 0;
}

ul.posts-archive > li {
    list-style: none;
}

ul.posts > li {
    list-style: none;
    padding-bottom: 1.5em;
}

.footnotes:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #eee;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

article .footnotes:before {
    margin-top: 6em;
}

article img {
    max-width: 100%;
}

article table {
    margin-top: 1em;
    margin-bottom: 1em;
}

article td {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

article th {
    text-align: center;
}

article td,
article th {
    border: solid 1px;
    border-color: #cccccc;
}

article tr:nth-child(even) {
    background: #EEEEEE;
}


/* newsletter signup form */

#mc_embed_signup {
    background-color: #234e73;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#mc_embed_signup input.email,
#mc_embed_signup .button {
    text-align: right;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 130%;
    height: auto;
    border: none;
}

#mc_embed_signup h1 {
    font-weight: lighter;
    color: white;
    text-align: right;
    margin: 0;
}

#mc_embed_signup > form {
    padding: 0;
    text-align: right;
}

#mc_embed_signup input.email {
    padding-right: 1em;
    padding-left: 1em;
}

#mc_embed_signup .button {
    background-color: #234e73;
    color: white;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: auto;
}

#mc_embed_signup .button:hover {
    background-color: #367db9;
    color: white;
}

#mc_embed_signup {
    margin-right: -50%;
    padding-right: 50%;

    margin-left: -50%;
    padding-left: 50%;
}

@media only screen and (min-width: 1000px) {
    #mc_embed_signup input.email {
        width: 35%;
        min-width: 150px
    }
}

@media only screen and (max-width: 1000px) {
    #mc_embed_signup input.email {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    #mc_embed_signup input.email {
        width: 100%;
    }
}
